astutils==0.0.3
attrs==17.4.0
beautifulsoup4==4.6.0
bleach==2.1.2
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
cryptography==1.7.1
dd==0.4.3
decorator==4.1.2
entrypoints==0.2.3
futures==3.1.1
goslate==1.5.1
html5lib==1.0.1
idna==2.6
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.0
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
keyring==10.3.1
keyrings.alt==2.2
lxml==4.1.1
MarkupSafe==1.0
mistune==0.8.3
natsort==5.1.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.10
nltk==3.2.5
notebook==5.2.2
numpy==1.13.3
omega==0.0.11
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
pluggy==0.6.0
ply==3.10
polytope==0.2.1
prompt-toolkit==1.0.15
psutil==5.4.0
ptyprocess==0.5.2
py==1.5.2
pyasn1==0.1.9
pycrypto==2.6.1
PyDictionary==1.5.2
pydot==1.2.4
Pygments==2.2.0
pygobject==3.22.0
pymining==0.2
pymongo==3.5.1
pyparsing==2.2.0
pyserial==3.4
pytest==3.3.2
python-dateutil==2.6.1
pyxdg==0.25
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
scipy==1.0.0
SecretStorage==2.3.1
simplegeneric==0.8.1
six==1.11.0
stanfordcorenlp==3.7.0.2
terminado==0.8.1
testpath==0.3.1
tornado==5.0a1
traitlets==4.3.2
treetaggerwrapper==2.2.4
tulip==1.3.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.0
